<section class="d-flex justify-content-around mt-5" dir="rtl">
    <div class="d-flex">
        <img src="../../../assets/ProductImage/Icons/cash-on-delivery.svg"  alt="">
        <p class="fw-bold my-2 opacity-75" style="font-size: x-small;">امکان تحویل اکسپرس</p>
    </div>
    <div class="d-flex">
        <img src="../../../assets/ProductImage/Icons/support.svg"  alt="">
        <p class="fw-bold my-2 opacity-75" style="font-size: x-small;">۲۴ ساعته، ۷ روز هفته</p>
    </div>
    <div class="d-flex">
        <img src="../../../assets/ProductImage/Icons/days-return.svg"  alt="">
        <p class="fw-bold my-2 opacity-75" style="font-size: x-small;">امکان پرداخت در محل</p>
    </div>
    <div class="d-flex">
        <img src="../../../assets/ProductImage/Icons/express-delivery.svg"  alt="">
        <p class="fw-bold my-2 opacity-75" style="font-size: x-small;">هفت روز ضمانت بازگشت کالا</p>
    </div>
    <div class="d-flex">
        <img src="../../../assets/ProductImage/Icons/original-products.svg"  alt="">
        <p class="fw-bold my-2 opacity-75" style="font-size: x-small;">ضمانت اصل بودن کالا</p>
    </div>

    
       
    
</section>


<div>
    <span class="bg-dark opacity-25 shadow-sm" style="width: 100px; height: 2px;"></span>
</div>