
<section class="border border-2 col-4 rounded" dir="rtl">
    <div class="d-flex">
        <div class="p-3">
            <div class="d-flex align-items-center">
                <img class="mb-2" src="../../../assets/img/دیجی پلاس.png" width="6%" height="6%" alt="">
                <p class="mx-2 fw-bold" style="font-size: small;">ویژه اعضای دیجی پلاس</p>
            </div>
            <div class="d-flex align-items-center">
                <div class="d-flex justify-content-center align-items-center mb-2 mx-2">
                    <span class="opacity-100 rounded-circle" style="width: 4px; height: 4px;background-color: rgb(202, 43, 226);"></span>
                </div>
                
                <p style="font-size: small;">ارسال رایگان</p>
            </div>
        </div>
        
        
                        <div class=" mt-3 mx-5">
                            <i class="fa fa-solid fa-chevron-left"></i>
                        </div>
        
    </div>

</section>