<div>
    <img src="../../../assets/img/گیف.gif" alt=""  style="width: 100%;">
</div>

<div class="container-fluid mt-4 d-flex justify-content-between" dir="rtl">
    <div class="d-flex align-items-center">
        <input class="form-control rounded" placeholder="جستجو" style="position: relative; width: 530px; height: 40px; margin-right: 170px;" type="text">
        <i class="fa-solid fa-magnifying-glass"></i>
        <img style="position: absolute;" src="../../../assets/img/logo.png" alt="" width="140px">
    </div>

    <div class="ml-5">
        <button class="btn btn-outline-dark opacity-75 fw-bold">
            ورود | ثبت نام
        </button>
    </div>

</div>


<div class="d-flex container-fluid justify-content-between mt-4" dir="rtl">
  

    <div class="d-flex col-7 justify-content-between text-header">
        <div>
            <p class="fw-bold">دسته بندی کالاها</p>
         </div>
         
         <div class="opacity-50">
             <p> سوپرمارکت </p>
         </div>
         
         <div class="opacity-50">
             <p> پرفروش ترین ها </p>
         </div>
         
         <div class="opacity-50">
             <p> تخفیف ها و پیشنهاد ها </p>
         </div>
         
         <div class="opacity-50">
             <p> شگفت انگیز ها </p>
         </div>
         
         <div class="opacity-50">
             <p> سوالی دارید؟ </p>
         </div>
         
         <div class="opacity-50">
             <p> فروشنده شوید! </p>
         </div>
    </div>

          
    <div class="opacity-75 text-header">
        <p>لطفا شهر خود را انتخاب کنید</p>
    </div>
   
</div>