<!-- Product Page -->

<app-header></app-header>
 <app-product-info></app-product-info>
 <app-product-price class="position-absolute" style="margin-left: 1%; margin-top: -39%; width: 100%;"></app-product-price>

 <app-delivery class="d-flex justify-content-center" style="margin-left: -7%;"></app-delivery>
 <app-digipluscard class="d-flex justify-content-center" style="margin-left: -7%;"></app-digipluscard>
 <app-pointssign></app-pointssign>
<app-sameproduct></app-sameproduct>

<!-- Main Page -->
<!-- <app-searchbar></app-searchbar>
<app-amazingoffer></app-amazingoffer>
<app-supermarket></app-supermarket> -->