<!-- Price Side -->
<section class="bg-gray border border-2 p-3 rounded" style="width: 350px;" dir="rtl">

    <div>
        <p class="fw-bold">فروشنده</p>
    </div>

    <div class="mt-4">
        <div class="d-flex align-items-center">
            <i class="far fa-store-alt"></i>
            <p class="mt-2 mx-4">فیدار نامدار سورین</p>
        </div>

        <div>
            <p class="fw-bold mx-5" style="font-size: small;color: rgb(202, 202, 202);">عملکرد <span style="color: rgb(77, 190, 36);">عالی</span></p>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <span class="opacity-25 position-absolute mt-3" style="width: 20% ; height: 1px; background-color: rgb(153, 153, 153);"></span>
    </div>

    <div class="mt-4">
        <div class="d-flex align-items-center">
            <i class="fa-regular fa fa-heart"></i>
            <p class="mt-2 mx-4 fw-bold" style="font-size: small;">گارانتی ۳۶ ماهه ایده آل</p>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <span class="opacity-25 position-absolute mt-2" style="width: 20% ; height: 1px; background-color: rgb(153, 153, 153);"></span>
    </div>

    <div class="">
        <div class="d-flex justify-content-between align-items-center mt-3 opacity-75">
            <div class="d-flex align-items-center">
                <i class="fa-regular fa fa-heart"></i>
                <p class="mt-2 mx-4 fw-bold" style="font-size: normal;">موجود در انبار فروشنده</p>
            </div>
    
            <div class="mb-3  opacity-50">
                <i class="fa fa-solid fa-chevron-left" style="position: absolute; " ></i>
            </div>
        </div>

        <div class="d-flex align-items-center justify-content-between col-10">
            <div>
                <div class="d-flex justify-content-center align-items-center mx-2 mb-2">
                    <span class="opacity-50 rounded-circle bg-dark" style="width: 4px; height: 4px;"></span>
                </div>
            </div>

            <div class="d-flex mx-2">
                <i class="fa-light fa fa-truck mt-1 mx-2"></i>
                <p style="font-size: small;">ارسال دیجی‌کالا از 1 روز کاری دیگر</p>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <span class="opacity-25 position-absolute mt-2" style="width: 20% ; height: 1px; background-color: rgb(153, 153, 153);"></span>
    </div>

    <div class="mt-3">
        <div class="d-flex">
            <img src="../../../assets/ProductImage/Icons/club-point.svg" width="8%" alt="">
            <p class="opacity-75 fw-bold mt-3 mx-3" style="font-size: small;"> 150 امتیاز دیجی‌کلاب</p>
            <i class="fa-regular fa fa-circle-exclamation"></i>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <span class="opacity-25 position-absolute mt-2" style="width: 20% ; height: 1px; background-color: rgb(153, 153, 153);"></span>
    </div>

    <div class="d-flex align-items-center justify-content-between mt-5">
        <div class="">
            <p class="fw-bold opacity-75" style="font-size: x-small;">قیمت فروشنده</p>
        </div>

        <div class="d-flex align-items-center justify-content-end">
            <p class="fw-bold">11,200,000</p>
            <img class="mb-2" src="../../../assets/ProductImage/Icons/toman.png" width="10%" height="10%" alt="">
        </div>

       
    </div>

    <div>
        <button class="btn btn-red w-100">افزودن به سبد</button>
    </div>
</section>
