<section class="d-flex container-fluid mt-5" dir="rtl">
    <!-- Product Image Side -->
    <div class="col-4 mx-3">
        <div class="d-flex flex-column align-items-center">
            <div>
                <img src="../../../../assets/ProductImage/11.jpg" alt=""  style="width: 550px;">
            </div>
            
            <div class="d-flex col-9 justify-content-around">
    
                <div class="d-flex border border-2 justify-content-center align-items-center rounded-3" style="">
                    <img class=" p-2 my-3" src="../../../../assets/ProductImage/2.jpg" alt="" style="width: 80px;">
                </div>
                    
                <div class="d-flex border border-2 justify-content-center align-items-center rounded-3">
                    <img class=" p-2 my-3" src="../../../../assets/ProductImage/3.jpg" alt="" style="width: 80px; ">
                </div>
        
                <div class="d-flex border border-2 justify-content-center align-items-center rounded-3">
                    <img class=" p-2 my-3" src="../../../../assets/ProductImage/4.jpg" alt="" style="width: 80px; ">
                </div>
        
                <div class="d-flex border border-2 justify-content-center align-items-center rounded-3">
                    <img class=" p-2 my-3" src="../../../../assets/ProductImage/5.jpg" alt="" style="width: 80px; ">
                </div>
            </div>
        </div>
    </div>

    <!-- Information Product Side -->
    <div>
        <!-- title & points -->
        <div class="d-flex">
            <a class="text-decoration-none" href="#">کانن</a>
            <p class="opacity-50 mx-1">/</p>
            <a class="text-decoration-none" href="#">دوربین عکاسی کانن</a>
        </div>

        <div class="">
            <h5 class="fw-bold">دوربین دیجیتال کانن مدل EOS 4000D به همراه لنز 18-55 میلی متر DC III</h5>
            <span class="opacity-25 position-absolute mt-3" style="width: 39.7% ; height: 1px; background-color: black;"></span>
        </div>

        <div class="d-flex mt-5">

            <div class="">
                <img src="../../../../assets/ProductImage/Icons/star-yellow.png" alt="">
                <span> ۴ <span class="opacity-50">(۳۲۸)</span>
                    
                    </span>
            </div>

                <div class="d-flex justify-content-center align-items-center mx-2">
                  <span class="opacity-50 rounded-circle bg-dark" style="width: 4px; height: 4px;"></span>
                </div>

            <div>
                <a class="text-primary text-decoration-none" href=""> 262 دیدگاه </a>
            </div>

              <div class="d-flex justify-content-center align-items-center mx-2">
                 <span class="opacity-50 rounded-circle bg-dark" style="width: 4px; height: 4px;"></span>
              </div>

            <div>
                <a class="text-primary text-decoration-none" href=""> 125 پرسش </a>
            </div>
        </div>

        <div class="my-3 d-flex align-items-center">
            <i style="color: rgb(4, 223, 99);" class="fa-regular fa fa-thumbs-up"></i>
            <p class="lead fs-6 mx-2"> ۸۴% (۱۳۰) نفر از خریداران، این کالا را پیشنهاد کرده اند </p>
            <i class="fa-light fa fa-circle-exclamation"></i>
        </div>
        
        <!-- color -->
        <div class="">
            <div>
                <p class="fw-bold">رنگ: مشکی</p>
            </div>

            <div class="d-flex mx-2">
                <button class="btn btn-dark rounded-circle" style="width: 40px; height: 40px;"></button>
             </div>
        </div>

        
        <div class="my-3">
            <div>
                <p class="fw-bold">ویژگی‌ها</p>
            </div>
           
            <div class="d-flex  flex-column col-7 bg-info py-5">
                <div class="d-flex">
                    <div class="d-flex">
                        <span class="opacity-50 rounded-circle bg-dark" style="width: 4px; height: 4px;"></span>
                     </div>
                    <p></p>
                </div>
                
                <div>
                    <div class="d-flex">
                        <span class="opacity-50 rounded-circle bg-dark" style="width: 4px; height: 4px;"></span>
                     </div>
                </div>
                
                <div>
                    <div class="d-flex">
                        <span class="opacity-50 rounded-circle bg-dark" style="width: 4px; height: 4px;"></span>
                     </div>
                </div>
                
                <div>
                    <div class="d-flex">
                        <span class="opacity-50 rounded-circle bg-dark" style="width: 4px; height: 4px;"></span>
                     </div>
                </div>
                
                <div>
                    <div class="d-flex">
                        <span class="opacity-50 rounded-circle bg-dark" style="width: 4px; height: 4px;"></span>
                     </div>
                </div>
            </div>
        </div>

        <div>

        </div>

        <div>

        </div>
    </div>
</section>

<div>sss</div>
