.form-control{
    background-color: rgb(245, 243, 243);
    border: none;
    
}

.text-header{
    font-size: 14px;
    font-weight: 600;
}

.bg-gray{
    background-color: rgb(243, 242, 242);
}

.btn-red{
    color: white;
    background-color: #ee384e;
}