
<div class="d-flex justify-content-center" dir="rtl">
    <img src="../../../assets/img/لباس.jpg" style="width:100%;" alt="">
</div>

<section class=" container d-flex flex-colunm justify-content-around mt-5"  dir="rtl">
    <div class="d-flex flex-column align-items-center Icop">
        <img src="../../../assets/img/jet.png" alt="" width="50px" >
       <p> دیجی کالا جت</p>
    </div>
    <div class="d-flex flex-column align-items-center Icop">
        <img src="../../../assets/img/دیجی استیال.png" alt="" width="50px">
        <p>دیجی استایل</p>
    </div>
    <div class="d-flex flex-column align-items-center Icop">
        <img src="../../../assets/img/دیجی پی.png" alt=""  width="50px">
        <p>دیجی پی</p>
    </div>
    <div class="d-flex flex-column align-items-center Icop">
        <img src="../../../assets/img/دیجی کالا مهر.png" alt=""  width="50px">
        <p>دیجی کالا مهر</p>
    </div>
    <div class="d-flex flex-column align-items-center Icop">
        <img src="../../../assets/img/ماموریت ها.png" alt=""  width="50px">
        <p>ماموریت‌ها</p>
    </div>
    <div class="d-flex flex-column align-items-center Icop">
        <img src="../../../assets/img/دیجی پلاس.png" alt=""  width="50px">
        <p>دیجی پلاس</p>
    </div>
    <div class="d-flex flex-column align-items-center Icop">
        <img src="../../../assets/img/دیجی کلاب.png" alt=""  width="50px">
        <p>دیجی کالاب</p>
    </div>
    <div class="d-flex flex-column align-items-center Icop">
        <span class="elipse d-flex justify-content-center align-items-center">
            <span class="Mini-el ">
                
            </span>

            <span class="Mini-el mx-1">
                
            </span>

            <span class="Mini-el" >
                
            </span>
        </span>
        <p>بیشتر</p>
    </div>

       
    
</section>

 
